/* Write your code here. */
.bg {
    color: #0f172a;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
  }
  
  .heading {
    color: white;
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
  }
  img {
    width: 150px;
    height: auto;
    border-radius: 10px;
  }
  .img-cont {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  